asgiref
distlib
dj-database-url
Django
django-appconf
django-cors-headers
django-environ
django-filter
django_compressor
djangorestframework
filelock
Markdown
pillow
platformdirs
psycopg2-binary
rcssmin
rjsmin
sqlparse
typing_extensions
tzdata