asgiref
certifi
charset-normalizer
cloudinary
crispy-bootstrap5
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-filter
djangorestframework
filelock
idna
MouseInfo
pillow
pip
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
setuptools
six
sqlparse
typing_extensions
tzdata
urllib3
virtualenv
